@font-face {
    font-family: pmdFont;
    src: url(PKMN-Mystery-Dungeon.ttf);
}

* {
    font-family: pmdFont;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.2rem;
}

a {
    color: inherit;
}


h3 {
    font-weight: normal;
}

#bgElem {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;

    z-index: -999;
    transition: all .1s ease-in-out;
    -webkit-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
}
#bgElem.dark-mode {
    background-image: url(background-dark.png);
}



.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.5rem;

    text-align: right;

    background-color: #212021DF;
}



.toggleBGButton {
    padding: .3rem;
    margin: .3rem;

    border: none;
    border-radius: 15px;

    color: #212021;
    background-color: #ffffffaf;

    transition: all .1s ease-in-out;
    -webkit-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;

    cursor: pointer;
}
.toggleBGButton:hover {
    background-color: #ffffff;
}



.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.hidden {
    display: none;
}



.intro {
    width: 65%;
    max-width: 900px;
    margin: 3rem!important;
}
.intro > p:not(:last-child) {
    margin-bottom: 1rem;
}



.text-box {
    margin-bottom: 1rem;
    padding: 1rem;

    color: white;
    background-color: #212021DF;

    border-radius: 20px;
    border: 25px solid transparent;
    border-image: url(pmdtextbox.png) 37 round;
}



.questions {
    margin-top: 1.5rem;
}



.question {
    width: 55%;
    max-width: 800px;

    padding: .5rem 1rem;
}
.question > h3 {
    margin-bottom: 1rem;
}
.question > label {
    padding: 1rem;
}
.question > input {
    margin: 1rem 0;
}



.finish-btn {
    margin: 2rem 0 3rem 0;
    padding: 1rem;

    border: none;
    border-radius: 15px;

    color: white;
    background-color: #212021DF;

    cursor: pointer;
}
.finish-btn:hover {
    background-color: #212021;
}



input {
    opacity: 0;
}
input+label {
    background-image: url(pointer-unselected.png);
    background-position: left;
    background-repeat: no-repeat;
    transition: all .1s ease-in-out;
    -webkit-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
}
input:checked+label {
    background-image: url(pointer.png);
    background-position: left;
    background-repeat: no-repeat;
}



.result-icons {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: .8rem;

}



.starter-icon {
    width: 100px;
    border-radius: 10px;
    display: block;
    padding: .2rem;
}



.all-results-nature {
    padding-right: 1rem;
}



.final-result > h3 {
    margin-bottom: 1rem;
}



.to-top-butt {
    position: fixed;
    bottom: 0;
    right: 0;

    font-size: 1.1rem;

    margin: .3rem;
    padding: .3rem;

    color:#212021;
    background-color: #ffffff99;

    border-radius: 15px;

    transition: all .1s ease-in-out;
    -webkit-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
}
.to-top-butt:hover {
    color: #24A624;
    background-color: #ffffffaf;
}

@media only screen and (min-width: 768px) {
    * {
        font-size: 1.2rem;
    }
}